<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/connect.js"></script>
