<html>
    <head>
        <meta charset = "utf-8">
        <title> Trapsarent Room Name Box</title>
        <link rel = "stylesheet" href="createRoom.css">
    <body bgcolor="pink">

    <div class = "room-name-box">
        <h1> Create Room:</h1>
        <div class = "textbox">
            <input type = "text" placeholder="Roomname "  name = "" value ="" style="width: 280px;" >
        </div>

        <div class = "textbox">
            <select name = "wgtmsr" id="wgtmsr">
                <option value="2_players">2 players</option>
                <option value="3_players">3 players</option>
                <option value="4_players">4 players</option>
                <option value="5_players">5 players</option>
                <option value="6_players">6 players</option>
                <option value="7_players">7 players</option>
                <option value="8_players">8 players</option>
            </select>
        </div>




        <input class = "btn" type = "button" name = "" value = "Create room" style="width: 280px;">


    </div>