<<<<<<< HEAD
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
=======
<!DOCTYPE html>
<html>
<head>
   <title>Error</title>
</head>
<body>
   <h1>This is an error</h1>
</body>
</html>
>>>>>>> wireframes-preston
