<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../views/partials/head.ejs %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="stylesheets/gametable.css">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">

</head>

<header>
    <% include ../views/partials/headerloggedin.ejs %>

</header>
<div class="game">
    <img src="images/gametable.jpg" alt="game_table" class="gametable"/>
</div>
<h1> GAME ID: <%= gameid %></h1>
    <div class="gamehand">
    <% for(let i = 0; i < cards.length; i++) { %>
        <div class="col-sm-1">
            <img src="images/uno_cards/small/<%= cards[i].image %>" alt="inn_logo" class="gamecard"/>
        </div>
     <% } %>
    </div>
<body>

<div class="gametable">
    <img src="images/gametable.jpg" alt="game_table" class="gametable"/>

    <div >
        <img src="images/uno_cards/small/card_back.png" class="gamedeck">

    </div>

    <div>
        <img src="images/uno_cards/small/blue_0.png"  class="discard-pile">
    </div>

    <div class="player-2">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">

    </div>
    <div class="player-3">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">

    </div>

    <div class="player-4">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">

    </div>

    <div class="player-5">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">

    </div>

    <div class="player-6">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">
    </div>

    <div class="player-7">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">
    </div>

    <div class="player-8">
        <img src="images/uno_cards/small/card_back.png" class="backofcard">
    </div>


</div>
</body>
</html>