<!DOCTYPE html>
<div lang="en">

    <head>
        <% include ../views/partials/head.ejs %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="stylesheets/gametable.css">

        <title>Thumbnail Gallery - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/thumbnail-gallery.css" rel="stylesheet">

    </head>

    <header>
        <% include ../views/partials/headerloggedin.ejs %>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font: 13px Helvetica, Arial;
            }

            form {
                background: #000;
                padding: 3px;
                position: fixed;
                bottom: 0;
                right: 0;
                width: 50%;
            }

            form input {
                border: 0;
                padding: 10px;
                width: 80%;
                margin-right: .5%;
            }

            form button {
                width: 18%;
                background: rgb(130, 224, 255);
                border: none;
                padding: 10px;
            }

            #messages {
                list-style-type: none;
                margin: 0;
                padding: 0;
                margin-left: 15%;

            }

            #messages li {
                padding: 5px 10px;

            }

            #messages li:nth-child(odd) {
                background: #eee;
            }
        </style>
    </header>


    <div id="waitScreenText" class="game-players-waiting"></div>
    <div id="waitScreenButton" class="button-wrapper"></div>
    <div id="playerTurn" class="player-turn"></div>
    <div id="unoPlayerName" class="uno-player-name show-uno-player-name">Preston Has Uno</div>

    <div class="split left">
        <div align="center" id="player-turn-message"><h1></h1></div>
        <div class="gametable">
            <div id="waitScreenBlur" class="wait-screen-blur">
                <img src="images/gametable.jpg" alt="game_table" class="gametable"/>
                <div>
                    <img src="images/uno_cards/small/card_back.png" class="gamedeck" id="drawdeck">
                </div>

                <div id="discard-deck">

                </div>

                <div id="playerHand" class="player-1">

                </div>
                <div class="player-2">
                    <div class="player-2-name">Ricky bobby</div>
                    <img id= "highlight2" src="images/uno_cards/small/card_back.png" class="backofcard">
                </div>


                <div class="player-3">
                    <div class="player-3-name">Ricky bobby</div>
                    <img id="highlight3" src="images/uno_cards/small/card_back.png" class="backofcard">
                </div>

                <div class="player-4">
                    <div class="player-4-name">Ricky bobby</div>
                    <img id="highlight4" src="images/uno_cards/small/card_back.png" class="backofcard">
                </div>

                <div class="player-5">
                    <div class="player-5-name">Ricky bobby</div>
                    <img id="highlight5" src="images/uno_cards/small/card_back.png" class="backofcard">

                </div>

                <div class="player-8">
                    <div class="player-6-name">Ricky bobby</div>
                    <img id="highlight8" src="images/uno_cards/small/card_back.png" class="backofcard">
                </div>

                <div class="player-7">
                    <div class="player-7-name">Ricky bobby</div>
                    <img id="highlight7" src="images/uno_cards/small/card_back.png" class="backofcard">
                </div>

                <div class="player-6">
                    <div class="player-8-name">Ricky bobby</div>
                    <img id="highlight6" src="images/uno_cards/small/card_back.png" class="backofcard">
                </div>



            <div id="wild-card-color" class="wild-card-color show-wild-card-color">
                <button id="blueButton" type="button" class="btn btn-primary">Blue</button>
                <button id="greenButton" type="button" class="btn btn-success">Green</button>
                <button id="redButton" type="button" class="btn btn-danger">Red</button>
                <button id="yellowButton" type="button" class="btn btn-warning">Yellow</button>
            </div>
        </div>


        <div class="split right">
            <h1 class="my-4 text-center text-lg-left">Chat</h1>
            <ul id="messages"></ul>
            <form action="">
                <input id="m" autocomplete="off"/>
                <button>Send</button>
            </form>

        </div>
    </div>


</div>

</div>

<% include ../views/partials/footer.ejs %>
<script src="/javascripts/game_actions.js"></script>
<script src="javascripts/chat_game.js"></script>
</html>