<!DOCTYPE html>
<html>
<head>
   <title>API</title>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <script src="script.js"></script>
</head>
<body>
<h1>API test</h1>

<div style="width: 30%; padding: 1%; margin-bottom: 30px; margin-left: 30%">
<h2>New Game</h1>
<form class="px-4 py-3" action="/database/newGame" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">game name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </div>
  <button type="submit" class="btn btn-primary">New Game</button>
</form>
</div>

</body>
</html>