<!DOCTYPE html>
<html>
<head>
    <% include ../views/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="stylesheets/lobby.css">
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8"/>
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>-->
</head>

<header>
    <% include ../views/partials/headerloggedin.ejs %>

</header>
<body>


<div class="container">
    <div class="split left">
        <h1 class="my-4 text-center text-lg-left">Current Games</h1>
        </br>
        <div class="current_games"></div>
    </div>
    <!--<div class="split right">-->
        <!--<header>-->
            <!--<h1>Super Chat</h1>-->
        <!--</header>-->

        <!--<section>-->
            <!--&lt;!&ndash;<div id="change_username">&ndash;&gt;-->
                <!--&lt;!&ndash;<input id="username" type="text" />&ndash;&gt;-->
                <!--&lt;!&ndash;<button id="send_username" type="button">Change username</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</section>&ndash;&gt;-->

        <!--&lt;!&ndash;<section id="chatroom">&ndash;&gt;-->
            <!--&lt;!&ndash;<section id="feedback"></section>&ndash;&gt;-->
        <!--&lt;!&ndash;</section>&ndash;&gt;-->
        <!--&lt;!&ndash;<section id="input_zone">&ndash;&gt;-->
            <!--&lt;!&ndash;<input id="message" class="vertical-align" type="text" />&ndash;&gt;-->
            <!--&lt;!&ndash;<button id="send_message" class="vertical-align" type="button">Send</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
</div>
<!-- /.container -->
        <!--<script src="javascripts/chat.js"></script>-->

<!-- /.container -->
<!-- Bootstrap core JavaScript -->
<% include ../views/partials/footer.ejs %>
<script src="/javascripts/lobby_actions.js"></script>
<script src="/javascripts/game_actions.js"></script>
</body>
</html>