.gametable {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5%;
}


.hands{
    display: flex;
}

.gamecard {
    max-width: 20%;
    height: auto;

}

.player-1{
    position:absolute;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 2%;
}

.player-2{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 5%;
    transform: rotate(90deg);
}

.player-3{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 30%;
    transform: rotate(90deg);
}

.player-4{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 55%;
    transform: rotate(90deg);
}

.player-5{
    position:absolute;
    left:42.5%;
    top:15%;
    margin-top:5%;
    transform: rotate(180deg);
    max-width:10%;
}

.player-6 {
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 13.5%;
    transform: rotate(270deg);
}

.player-7{
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 38%;
    transform: rotate(270deg);
}

.player-8{
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 63%;
    transform: rotate(270deg);
}

.backofcard{
    max-width: 50%;

}
