.gametable {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5%;
}

.gamehand{
    position:absolute;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 2%;


}

.gamecard {
        max-width: 20%;
        height: auto;

    }
