.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

.gamecard-highlight{
    border: solid yellow 1px;
}

.is-turn{
    border: solid coral 2px;
}

.wild-card-color{
    left: 30%;
    position: absolute;
    z-index: 100;

}

.blue{
    border: solid blue 5px;
}

.red{
    border: solid red 4px;
}

.green{
    border: solid green 4px;
}

.yellow{
    border: solid yellow 4px;
}

.show-wild-card-color{
    visibility: hidden;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}
section#input_zone {
    height: 7%;
    background-color: #BCA9F5;
}

.player-turn{
    position: absolute;
    z-index: 100;
    top: 10%;
    margin-left: 20%;
    font-size: 30px;

}

.wait-screen-blur{
    filter: blur(3px);
}


.split {
    padding-top:5%;
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-bottom:15%;
}

/* Control the left side */
.left {

    left: -10%;

}



/* Control the right side */
.right {

    right: -10%;
}

.gametable {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5%;

}
    .chat-input {
        position: absolute;
        bottom: 0%;
        right: 10%;
    }

.game-players-waiting{
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 10%;
    margin-top:10%;
    text-align: center;
    width: 100%;

}

.play-button {
    z-index: 100;
    position: absolute;
    margin-top: 15%;
    top: 15%;
    margin-left: 43%;
    margin-right:43%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */

@media screen and (min-width: 601px) {
    div.game-players-waiting {
        font-size: 40px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    div.game-players-waiting {
        font-size: 30px;
    }
}


.gamecard {
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.gamedeck{
    position:absolute;
    margin-left: 50%;
    margin-right: 25%;
    bottom: 30%;
    max-width:8%;
    cursor: pointer;

}
.discard-pile{
    position:absolute;
    margin-left: 40%;
    margin-right: 25%;
    bottom: 30%;
    max-width:8%;
}

.discard-pile-blue{
    position:absolute;
    margin-left: 40%;
    margin-right: 25%;
    bottom: 30%;
    max-width:8%;
    border: solid blue 4px;
}



.discard-pile-red{
    position:absolute;
    margin-left: 40%;
    margin-right: 25%;
    bottom: 30%;
    max-width:8%;
    border: solid red 4px;
}

.discard-pile-green{
    position:absolute;
    margin-left: 40%;
    margin-right: 25%;
    bottom: 30%;
    max-width:8%;
    border: solid green 4px;
}

.discard-pile-yellow{
    position:absolute;
    margin-left: 40%;
    margin-right: 25%;
    bottom: 30%;
    max-width:8%;
    border: solid yellow 4px;
}

.player-1{
    position:absolute;
    display: flex;
    margin-right: 25%;
    margin-top: 80%;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 5%;
    width: 50%;
    overflow: hidden;
}



.player-2{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 5%;
    transform: rotate(90deg);
}



.player-3{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 30%;
    transform: rotate(90deg);
}

.player-4{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 55%;
    transform: rotate(90deg);
}

.player-5{
    position:absolute;
    left:42%;
    top:15%;
    margin-top:5%;
    transform: rotate(180deg);
    max-width:10%;
}

.player-6 {
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 13.5%;
    transform: rotate(270deg);
}

.player-7{
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 38%;
    transform: rotate(270deg);
}

.player-8{
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 63%;
    transform: rotate(270deg);
}

.backofcard{
    max-width: 50%;

}



.player-name{
    transform: rotate(-90deg);
    postion: absolute;

    background-color: lightgrey;

}



.player2Info{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 20%;
    color: white;
}

.player3Info{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 45%;
    width: 15%;
    color: white;
}

.player4Info{
    position:absolute;
    margin-right:79%;
    margin-left: 10%;
    bottom: 70%;
    width: 15%;
    color: white;
}

.player5Info{
    position:absolute;
    left:40%;
    top:15%;
    margin-top:5%;
    color: white;
    max-width:10%;
}

.player6Info{
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 19.5%;

    color: white;
}

.player7Info{
    position:absolute;
    margin-right:10%;
    margin-left: 79%;
    bottom: 44%;
    color: white;
}

.player8Info {
    position: absolute;
    margin-right: 10%;
    margin-left: 79%;
    bottom: 69%;
    color: white;
}

.uno-button{
    position: absolute;
    z-index: 100;
    top: 20%;
    margin-left: 21%;
    font-size: 30px;

}

.show-uno-button{
    visibility: hidden;

}

.uno-player-name{
    position: absolute;
    margin-top: 10%;
    margin-left: 18.5%;
    font-size: 30px;
}

.show-uno-player-name{
    visibility: hidden;
}
