body {
  padding-top: 50px;
}

#chat-area {
  display: none;
}

.messages {
  min-height: 300px;
}

.message {
  padding-top: 2px;
  width: 100%;
  background-color: #ddd;
  border-radius: 3px;
  margin-top: 2px;
}

.message:nth-child(odd) {
  background-color: #fff;
}

time.timeago {
  color: #777;
  font-style: italic;
  padding-right: 8px;
  padding-left: 6px;
}

span.user {
  color: #369;
  padding-right: 8px;
  font-weight: bold;
}
